/* Layout */

/* Type setting for readability and general prettiness */

/* ABOUT */
#about .container {
  max-width: 720px;
}
#about h1 {
  margin-bottom: 1em;
}
#about p {
  font-size: 24px;
  line-height: 1.8em;
  text-align: left;
}

/* ITINERARY */
#itinerary .container {
  text-align: left;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
}
#itinerary .nav-pills > li > a {
  color: #fff;
}
#itinerary .nav-pills > li:hover > a {
  background-color: #333;
}

#itinerary .nav-pills > li.active > a {
  background-color: #c6653f;
}
/*
Pages
*/
.intro-section {
  color:#222;
  min-height: 100%;
  padding-top: 150px;
  text-align: center;
  background: url(../img/crashpad.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-section {
  min-height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #eee;
}

.rsvp-section {
  min-height: 100%;
  padding-top: 150px;
  text-align: center;
  background: url(../img/DSCN1981.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.accomodations-section {
  padding-top: 150px;
  text-align: center;
  background: #eee;
}

.itinerary-section {
  min-height: 100%;
  padding-top: 150px;
  text-align: center;
  color:#eee;
  background: url(../img/DSCF0276.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.registry-section {
  min-height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #eee;
}

.contact-section {
  min-height: 100%;
  padding-top: 150px;
  text-align: center;
  color:#EEE;
  background: url(../img/DSCF2153.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-dark{
  color: #222
}

/*
Wizard
*/

.oz {
  overflow: hidden;
  height: 300px;
}

.wizard-spell {
  /*
  SLIDE
  */
  margin-left: 500px;
  position: absolute;


  /*
  WELL
  */
  border: 1px solid #e3e3e3;
  background-color: rgba(245, 245, 245, .75);
  padding: 19px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

#wizard-1 {
  margin-left:0;
}
